<form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
  <mat-card class="card">
    <mat-progress-spinner
      *ngIf="isSaveOrUpdateInProgress"
      diameter="50"
      class="form-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <mat-card-title>InspectionProcedure</mat-card-title>
    <mat-card-subtitle>{{
      inspectionProcedure?.id
        ? 'Update an existing inspectionProcedure.'
        : 'Creates a new inspectionProcedure.'
    }}</mat-card-subtitle>
    <div class="error mat-error">
      {{ error ? error : '&nbsp;' }}
    </div>
    <mat-card-content class="content">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter inspectionProcedure name"
          formControlName="name"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('name')"
            label="Name"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <!--      <mat-form-field class="full-width">-->
      <!--        <mat-label>Inspection Indicator</mat-label>-->
      <!--        <mat-select formControlName="inspectionIndicatorId" required>-->
      <!--          <mat-option>&#45;&#45;Select&#45;&#45;</mat-option>-->
      <!--          <mat-option-->
      <!--            *ngFor="-->
      <!--              let inspectionIndicatorIdOption of inspectionIndicatorIdOptions-->
      <!--            "-->
      <!--            [value]="inspectionIndicatorIdOption.key"-->
      <!--            >{{ inspectionIndicatorIdOption.value }}</mat-option-->
      <!--          >-->
      <!--        </mat-select>-->
      <!--        <mat-error-->
      <!--          ><hip-ngx-error-->
      <!--            [control]="form.get('inspectionIndicatorId')"-->
      <!--            label="Inspection Indicator"-->
      <!--          ></hip-ngx-error-->
      <!--        ></mat-error>-->
      <!--      </mat-form-field>-->
      <!--      <mat-form-field class="full-width">-->
      <!--        <mat-label>Indicator</mat-label>-->
      <!--        <mat-select formControlName="indicatorId">-->
      <!--          <mat-option>&#45;&#45;Select&#45;&#45;</mat-option>-->
      <!--          <mat-option-->
      <!--            *ngFor="let indicatorIdOption of indicatorIdOptions"-->
      <!--            [value]="indicatorIdOption.key"-->
      <!--            >{{ indicatorIdOption.value }}</mat-option-->
      <!--          >-->
      <!--        </mat-select>-->
      <!--        <mat-error-->
      <!--          ><hip-ngx-error-->
      <!--            [control]="form.get('indicatorId')"-->
      <!--            label="Indicator"-->
      <!--          ></hip-ngx-error-->
      <!--        ></mat-error>-->
      <!--      </mat-form-field>-->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="form.invalid || isSaveOrUpdateInProgress"
        type="submit"
      >
        <mat-icon>save</mat-icon>
        <span>{{ inspectionProcedure?.id ? 'Update' : 'Save' }} </span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
