<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Inspection Budget">
    <ng-template matTabContent>
      <app-inspection-budget-list
        [inspectionId]="inspectionId"
      ></app-inspection-budget-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Inspection Program">
    <ng-template matTabContent>
      <app-inspection-indicator-list
        [inspectionId]="inspectionId"
      ></app-inspection-indicator-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Familiarization">
    Familiarization
  </mat-tab>
</mat-tab-group>
