<form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
  <mat-dialog-content>
    <mat-progress-spinner
      *ngIf="isSaveOrUpdateInProgress"
      diameter="50"
      class="form-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <mat-card-title>InspectionFinding</mat-card-title>
    <mat-card-subtitle>{{
      inspectionFinding?.id
        ? 'Update an existing inspectionFinding.'
        : 'Creates a new inspectionFinding.'
    }}</mat-card-subtitle>
    <div class="error mat-error">
      {{ error ? error : '&nbsp;' }}
    </div>
    <mat-card-content class="content">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Code</mat-label>
        <input
          matInput
          placeholder="Enter inspectionFinding code"
          formControlName="code"
        />
        <mat-error>
          <hip-ngx-error
            [control]="form.get('code')"
            label="Code"
          ></hip-ngx-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Enter inspectionFinding description"
          formControlName="description"
        ></textarea>
        <mat-error>
          <hip-ngx-error
            [control]="form.get('description')"
            label="Description"
          ></hip-ngx-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Condition</mat-label>
        <input
          matInput
          placeholder="Enter inspectionFinding condition"
          formControlName="condition"
        />
        <mat-error>
          <hip-ngx-error
            [control]="form.get('condition')"
            label="Condition"
          ></hip-ngx-error>
        </mat-error>
      </mat-form-field>
      <mat-slide-toggle
        color="accent"
        formControlName="disclosedLastInspection"
      >
        <mat-label>
          <mat-label>Disclosed Last Inspection</mat-label>
        </mat-label>
      </mat-slide-toggle>
      <mat-error>
        <hip-ngx-error
          [control]="form.get('disclosedLastInspection')"
          label="Disclosed Last Inspection"
        >
        </hip-ngx-error>
      </mat-error>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Causes</mat-label>
        <textarea
          matInput
          placeholder="Enter inspectionFinding causes"
          formControlName="causes"
        ></textarea>
        <mat-error>
          <hip-ngx-error
            [control]="form.get('causes')"
            label="Causes"
          ></hip-ngx-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Action Plan Category</mat-label>
        <mat-select formControlName="actionPlanCategory">
          <mat-option
            *ngFor="let actionPlanCategoryOption of actionPlanCategoryOptions"
            [value]="actionPlanCategoryOption.key"
            >{{ actionPlanCategoryOption.value }}</mat-option
          >
        </mat-select>
        <mat-error>
          <hip-ngx-error
            [control]="form.get('actionPlanCategory')"
            label="Action Plan Category"
          ></hip-ngx-error>
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle color="accent" formControlName="isClosed">
        <mat-label>Is Closed</mat-label>
      </mat-slide-toggle>
      <mat-error>
        <hip-ngx-error
          [control]="form.get('isClosed')"
          label="Is Closed"
        ></hip-ngx-error>
      </mat-error>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let c of categories" [value]="c.id">
            {{ c.name }}</mat-option
          >
        </mat-select>
        <!-- <mat-error>
          <hip-ngx-error [control]="form.get('categoryId')" label="Category"></hip-ngx-error>
        </mat-error> -->
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Sub Category</mat-label>
        <mat-select formControlName="subCategoryId">
          <mat-option *ngFor="let s of subCategories" [value]="s.id">
            {{ s.name }}</mat-option
          >
        </mat-select>
        <!-- <mat-error>
          <hip-ngx-error [control]="form.get('subCategoryId')" label="Sub Category Id"></hip-ngx-error>
        </mat-error> -->
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="form.invalid || isSaveOrUpdateInProgress"
        type="submit"
      >
        <mat-icon>save</mat-icon>
        <span>{{ inspectionFinding?.id ? 'Update' : 'Save' }} </span>
      </button>
    </mat-card-actions>
  </mat-dialog-content>
</form>
