<div class="mat-dialog-header d-flex flex-row justify-content-between">
  <div></div>
  <div class="header-title align-self-center">
    <h2 mat-dialog-title>{{ title }}</h2>
  </div>
  <div class="close-button align-self-center">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-progress-bar
  *ngIf="showProgress"
  color="primary"
  mode="indeterminate"
></mat-progress-bar>
<mat-dialog-content>
  <form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
    <mat-card>
      <mat-card-content class="py-3">
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Risk Register</mat-label>
              <input
                matInput
                autocomplete="off"
                placeholder="Enter Risk Register"
                formControlName="name"
                required
              />
              <mat-error>
                <hip-ngx-error
                  [control]="form.get('name')"
                  label="Risk Register"
                ></hip-ngx-error>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Council</mat-label>
              <mat-select formControlName="organisationUnitId" required>
                <mat-option>&#45;&#45;Select&#45;&#45;</mat-option>
                <mat-option
                  *ngFor="let organisationUnit of getCouncils() | async"
                  [value]="organisationUnit.id"
                >
                  {{ organisationUnit.name }}</mat-option
                >
              </mat-select>
              <mat-error>
                <hip-ngx-error
                  [control]="form.get('organisationUnitId')"
                  label="Organisation Unit"
                ></hip-ngx-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Financial Year</mat-label>
              <mat-select formControlName="financialYearId" required>
                <mat-option>&#45;&#45;Select&#45;&#45;</mat-option>
                <mat-option
                  *ngFor="let financialYear of getFinancialYear() | async"
                  [value]="financialYear.id"
                >
                  {{ financialYear.name }}</mat-option
                >
              </mat-select>
              <mat-error>
                <hip-ngx-error
                  [control]="form.get('financialYearId')"
                  label="Financial Year"
                ></hip-ngx-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid || showProgress"
    type="submit"
  >
    <mat-icon>save</mat-icon>
    <span>{{ label }} </span>
  </button>
</mat-dialog-actions>
