<div class="mat-dialog-header d-flex flex-row justify-content-between">
  <div></div>
  <div class="header-title align-self-center">
    <h2 mat-dialog-title>{{ title }}</h2>
  </div>
  <div class="close-button align-self-center">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-progress-bar
  *ngIf="showProgress"
  color="primary"
  mode="indeterminate"
></mat-progress-bar>
<mat-dialog-content>
  <form [formGroup]="form" novalidate autocomplete="off">
    <mat-card>
      <mat-card-content class="py-3 px-1">
        <div class="row">
          <div class="col-md-3">
            <div class="ou-tree">
              <h6>Organisation Unit</h6>
              <tree-root
                #tree
                [(state)]="state"
                [nodes]="nodes | async"
                (activate)="onOuChange($event)"
                [options]="options"
              >
              </tree-root>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input
                    autocomplete="off"
                    matInput
                    placeholder="Enter user username"
                    formControlName="login"
                    required
                  />
                  <mat-error>
                    <hip-ngx-error
                      [control]="form.get('login')"
                      label="Username"
                    ></hip-ngx-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input
                    autocomplete="off"
                    matInput
                    placeholder="Enter user first name"
                    formControlName="firstName"
                    required
                  />
                  <mat-error>
                    <hip-ngx-error
                      [control]="form.get('firstName')"
                      label="First Name"
                    ></hip-ngx-error>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-6">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input
                    autocomplete="off"
                    matInput
                    placeholder="Enter user last name"
                    formControlName="lastName"
                    required
                  />
                  <mat-error>
                    <hip-ngx-error
                      [control]="form.get('lastName')"
                      label="Last Name"
                    ></hip-ngx-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="outline">
                  <mat-label>Language</mat-label>
                  <mat-select formControlName="langKey">
                    <mat-option
                      *ngFor="let language of langKeyOptions"
                      [value]="language.key"
                    >
                      {{ language.value }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    <hip-ngx-error
                      [control]="form.get('langKey')"
                      label="Language"
                    ></hip-ngx-error>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-6">
                <mat-form-field appearance="outline">
                  <mat-label>Roles</mat-label>
                  <mat-select formControlName="authorities" multiple required>
                    <mat-option
                      *ngFor="let authority of authorities"
                      [value]="authority"
                      >{{ authority }}</mat-option
                    >
                  </mat-select>
                  <mat-error>
                    <hip-ngx-error
                      [control]="form.get('authorities')"
                      label="Roles"
                    ></hip-ngx-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    autocomplete="off"
                    matInput
                    placeholder="Enter user email"
                    formControlName="email"
                    required
                  />
                  <mat-error>
                    <hip-ngx-error
                      [control]="form.get('email')"
                      label="Email"
                    ></hip-ngx-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-checkbox color="accent" formControlName="activated"
                  >Activated</mat-checkbox
                >
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button
    mat-flat-button
    color="accent"
    [disabled]="form.invalid || showProgress || !selectedOrganisationUnit"
    (click)="saveOrUpdate(form.value)"
  >
    <mat-icon>save</mat-icon>
    <span>{{ label }} </span>
  </button>
</mat-dialog-actions>
