@import '../../../scss/variables';
mat-toolbar {
  position: fixed;
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}
.logo {
  outline: none;
  padding: 5px;
  display: inline-flex;
}

.logo-img {
  height: 35px;
  padding-left: 0.5em;
  margin-bottom: 4px;
}

.spacer {
  flex: 1 1 auto;
}
mat-menu {
  mat-menu-item {
    font-size: 16px !important;
  }
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0;
}

.nav-links__item {
  color: $light-text-color;
}

.nav-links__item--active {
  color: $accent;
}

.route-loader {
  height: 4px;
  background-color: $primary;
}
