<div class="route-loader" *ngIf="{ loading: loading$ | async } as route">
  <mat-progress-bar
    *ngIf="route.loading"
    color="accent"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
<mat-toolbar
  class="mat-elevated-z4"
  role="heading"
  color="primary"
  *ngIf="{ details: user$ | async } as user"
>
  <button
    mat-icon-button
    class="app-menu"
    *ngIf="!!user.details"
    (click)="toggleSidenav.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a class="logo" href="#" routerLink="/">
    <img alt="IFT-MIS" class="logo-img" src="assets/img/logo.png" />
  </a>
  <span>IFT-MIS</span>
  <span class="spacer"></span>
  <mat-nav-list class="nav-links">
    <a
      mat-list-item
      class="app-login nav-links__item"
      *ngIf="!user.details"
      href="#"
      routerLink="/login"
      routerLinkActive="nav-links__item--active"
    >
      <mat-icon>exit_to_app</mat-icon>
      <span>Sign In</span>
    </a>
    <button
      *ngIf="!!user.details"
      mat-icon-button
      class="app-account nav-links__item"
      [matMenuTriggerFor]="primaryMenu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #primaryMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Risk Management</span>
      </button>
      <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Inspection Planning</span>
      </button>
      <button mat-menu-item class="app-logout" routerLink="/inspection-phases">
        <mat-icon>settings</mat-icon>
        <span>Inspection Phases</span>
      </button>
      <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Findings Management</span>
      </button>
      <button mat-menu-item routerLink="/inspections">
        <mat-icon>menu</mat-icon>
        <span>Inspection</span>
      </button>
      <button mat-menu-item class="app-logout" routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>menu</mat-icon>
        <span>Report</span>
      </button>
      <button mat-menu-item class="app-logout" routerLink="/user-management">
        <mat-icon>people</mat-icon>
        <span>User Management</span>
      </button>
    </mat-menu>

    <button
      *ngIf="!!user.details"
      mat-icon-button
      class="app-account nav-links__item"
      [matMenuTriggerFor]="userMenu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item class="app-logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </mat-nav-list>
</mat-toolbar>
