<mat-card *ngIf="getData() | async as data">
  <div class="page-heading">
    <span class="mat-card-title">Financial Years</span>
    <div>
      <button
        mat-raised-button
        color="accent"
        [routerLink]="['/settings/financial-years', 'new']"
      >
        <mat-icon>add</mat-icon>
        <span>Create</span>
      </button>
    </div>
  </div>
  <mat-card-content class="table-container">
    <mat-progress-spinner
      *ngIf="showLoader"
      diameter="50"
      class="table-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <div *ngIf="!getData()">
      <span class="table-overlay">No records found</span>
    </div>
    <table mat-table [dataSource]="getData()" matSort *ngIf="!!getData()">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.startDate | date: 'mediumDate' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.endDate | date: 'mediumDate' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="closed">
        <th mat-header-cell *matHeaderCellDef>Closed</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            color="primary"
            [disabled]="true"
            [checked]="element.closed"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="isOpened">
        <th mat-header-cell *matHeaderCellDef>Current</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            color="primary"
            [disabled]="element.closed === true"
            [checked]="element.isOpened"
            (click)="activate(element)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="formActions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="accent"
            [matMenuTriggerFor]="menu"
            [matMenuTriggerData]="{ id: element.id, element: element }"
            aria-label="Financial Year form actions "
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        class="data-row"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChange($event)"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="id" let-element="element">
    <button
      mat-menu-item
      aria-label="Edit Financial Year"
      [routerLink]="['/settings/financial-years', id, 'edit']"
    >
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button
      mat-menu-item
      aria-label="Delete Financial Year"
      (click)="delete(id, element)"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
