<h1 mat-dialog-title>
  {{ title }}
</h1>
<div mat-dialog-content>
  <mat-progress-spinner
    *ngIf="isSaveOrUpdateInProgress"
    diameter="50"
    class="form-overlay"
    color="accent"
    mode="indeterminate"
  >
  </mat-progress-spinner>
  <div class="error mat-error">
    {{ error ? error : '&nbsp;' }}
  </div>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="form">
      <form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
        <ng-template matStepLabel>Create Inspection Activity</ng-template>
        <mat-card-content class="content">
          <div
            class="container"
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0"
          >
            <div fxFlex="50%">
              <mat-form-field appearance="outline">
                <mat-label>Auditable Area</mat-label>
                <mat-select
                  formControlName="auditableAreaId"
                  placeholder="Select Auditable Area"
                  (ngModelChange)="filterSubAreaByArea($event)"
                >
                  <mat-option value="null">-All-</mat-option>
                  <mat-option
                    *ngFor="let auditableArea of auditableAreas"
                    [value]="auditableArea"
                  >
                    {{ auditableArea.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="50%">
              <mat-form-field appearance="outline">
                <mat-label>Sub Area</mat-label>
                <mat-select
                  formControlName="subAreaId"
                  placeholder="Select Sub Area"
                >
                  <mat-option value="null">-All-</mat-option>
                  <mat-option
                    *ngFor="let subArea of subAreas"
                    [value]="subArea.id"
                  >
                    {{ subArea.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Objective</mat-label>

            <div fxFlex="100%">
              <mat-select
                formControlName="objectiveId"
                placeholder="Select Objective"
              >
                <mat-option value="null">-All-</mat-option>
                <mat-option
                  *ngFor="let objective of objectives"
                  [value]="objective.id"
                >
                  {{ objective.description }}
                </mat-option>
              </mat-select>
            </div>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Activity</mat-label>
            <input
              matInput
              placeholder="Enter inspection activity"
              formControlName="activity"
              required
            />
            <mat-error
              ><hip-ngx-error
                [control]="form.get('activity')"
                label="Activity"
              ></hip-ngx-error
            ></mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Days</mat-label>
            <input
              matInput
              type="number"
              min="0"
              placeholder="Enter Days"
              formControlName="days"
              required
            />
            <mat-error
              ><hip-ngx-error
                [control]="form.get('days')"
                label="Days"
              ></hip-ngx-error
            ></mat-error>
          </mat-form-field>
          <div
            class="container"
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0"
          >
            <mat-form-field class="full-width">
              <mat-label>Quarter 1</mat-label>
              <input
                matInput
                placeholder="Enter inspection quarter 1"
                formControlName="quarter_one"
                required
              />
              <mat-error
                ><hip-ngx-error
                  [control]="form.get('quarter_one')"
                  label="Quarter 1"
                ></hip-ngx-error
              ></mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Quarter 2</mat-label>
              <input
                matInput
                placeholder="Enter inspection quarter 2"
                formControlName="quarter_two"
                required
              />
              <mat-error
                ><hip-ngx-error
                  [control]="form.get('quarter_two')"
                  label="Quarter 2"
                ></hip-ngx-error
              ></mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Quarter 3</mat-label>
              <input
                matInput
                placeholder="Enter inspection quarter 3"
                formControlName="quarter_three"
                required
              />
              <mat-error
                ><hip-ngx-error
                  [control]="form.get('quarter_three')"
                  label="Quarter 3"
                ></hip-ngx-error
              ></mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Quarter 4</mat-label>
              <input
                matInput
                placeholder="Enter inspection quarter 4"
                formControlName="quarter_four"
                required
              />
              <mat-error
                ><hip-ngx-error
                  [control]="form.get('quarter_four')"
                  label="Quarter 4"
                ></hip-ngx-error
              ></mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <div>
          <button
            type="button"
            [disabled]="form.invalid"
            mat-raised-button
            color="primary"
            matStepperNext
          >
            <mat-icon>arrow_right</mat-icon>
            <span>Next</span>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="riskForm">
      <ng-template matStepLabel>Select Risks</ng-template>
      <div fxLayout="row">
        <div fxFlex fxLayout="column">
          <div class="interest-list">
            <div><b>SELECT RISKS</b></div>
            <form [formGroup]="interestFormGroup" (ngSubmit)="saveOrUpdate()">
              <div *ngFor="let interest of getAllRisks() | async">
                <mat-checkbox
                  class="example-margin"
                  (change)="onChange($event)"
                  [value]="interest"
                  >{{ interest.description }}</mat-checkbox
                >
              </div>

              <button>Submit</button>
            </form>
          </div>
        </div>
        <div
          style="width: 200px; padding: 0 10px;"
          fxLayout="column"
          fxFlexAlign="space-around center"
        >
          <button
            (click)="saveAll(selectedRisks)"
            [disabled]="selectedRisks.length === 0"
            mat-raised-button
          ></button>
          <button
            (click)="removeAll(chosenRisks)"
            [disabled]="chosenRisks.length === 0"
            mat-raised-button
          ></button>
        </div>

        <div fxFlex fxLayout="column">
          <div><b>CHOOSE ORGANISATION UNIT</b></div>
          <form [formGroup]="organisationUnitFormGroup">
            <div
              *ngFor="let organisationUnit of getAllOrganisationUnit() | async"
            >
              <mat-checkbox
                class="example-margin"
                (change)="onOrganisationUnitChange($event)"
                [value]="organisationUnit"
                >{{ organisationUnit.name }}</mat-checkbox
              >
            </div>

            <button>Submit</button>
          </form>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">
    <mat-icon>cancel</mat-icon>
    <span>Close</span>
  </button>
  <button mat-raised-button (click)="save()">
    <mat-icon>save</mat-icon>
    <span>Save</span>
  </button>
</div>
