<mat-nav-list class="nav-links">
  <a
    mat-list-item
    routerLink="/user-management"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <mat-icon>people</mat-icon
    ><span class="nav-links__item__text">User Management</span>
  </a>
  <a
    mat-list-item
    routerLink="/settings"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <mat-icon>event</mat-icon
    ><span class="nav-links__item__text">Settings</span>
  </a>

  <a
    mat-list-item
    routerLink="/risk-management"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <mat-icon>event</mat-icon
    ><span class="nav-links__item__text">Risk Management</span>
  </a>
</mat-nav-list>
