<mat-nav-list class="nav-links">
  <a
    mat-list-item
    routerLink="/auditable-areas"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      AuditableAreas
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/audit-program-engagements"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      AuditProgramEngagement
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/category-of-findings"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      CategoriesOfFinding
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/organisation-unit-levels"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      OrganisationUnitLevels
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/organisation-units"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      OrganisationUnit
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/gfs-codes"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      GfsCode
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/finding-categorys"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      FindingCategory
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/finding-sub-categorys"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      FindingSubCategory
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/sub-areas"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      SubAreas
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/indicators"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Indicator
    </span>
  </a>
</mat-nav-list>
