<mat-nav-list class="nav-links">
  <a
    mat-list-item
    routerLink="/auditable-areas"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Auditable Areas
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/audit-program-engagements"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Audit Program Engagement
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/category-of-findings"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Categories Of Finding
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/financial-years"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Financial Years
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/organisation-unit-levels"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Organisation Unit Levels
    </span>
  </a>
  <a
    mat-list-item
    routerLink="/organisation-units"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Organisation Units
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/gfs-codes"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Gfs Code
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/finding-categories"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Finding Category
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/quarters"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Quarter
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/finding-sub-categorys"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      FindingSubCategory
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/sub-areas"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      SubAreas
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/indicators"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Indicator
    </span>
  </a>

  <a
    mat-list-item
    routerLink="/procedures"
    class="nav-links__item"
    routerLinkActive="nav-links__item--active"
  >
    <span class="nav-links__item__text">
      Procedures
    </span>
  </a>
</mat-nav-list>
