<form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
  <mat-card class="card">
    <mat-progress-spinner
      *ngIf="isSaveOrUpdateInProgress"
      diameter="50"
      class="form-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <mat-card-title>Finding Sub-Categories</mat-card-title>
    <mat-card-subtitle>{{
      findingSubCategory?.id
        ? 'Update an existing finding sub-Category.'
        : 'Creates a new finding sub-category.'
    }}</mat-card-subtitle>
    <div class="error mat-error">
      {{ error ? error : '&nbsp;' }}
    </div>
    <mat-card-content class="content">
      <mat-form-field class="full-width">
        <mat-label>Code</mat-label>
        <input
          matInput
          placeholder="Enter findingSubCategory code"
          formControlName="code"
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('code')"
            label="Code"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter findingSubCategory name"
          formControlName="name"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('name')"
            label="Name"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="form.invalid || isSaveOrUpdateInProgress"
        type="submit"
      >
        <mat-icon>save</mat-icon>
        <span>{{ findingSubCategory?.id ? 'Update' : 'Save' }} </span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
