<div fxLayout="row">
  <div class="secondary-menu" fxLayout="column">
    <mat-nav-list class="nav-links">
      <a mat-list-item class="module-title">Settings</a>
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./procedures"
        >Procedures</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./indicators"
        >Indicators</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./risk-categories"
        >Risk Categories</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./objectives"
        >Objectives</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./risk-ranks"
        >Risk Ranks</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./sub-areas"
        >Sub Areas</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./auditable-areas"
        >Auditable Areas</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./finding-categories"
        >Finding Categories</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./finding-sub-categories"
        >Finding Sub-Categories</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./financial-years"
        >Financial Years</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./quarters"
        >Quarters</a
      >
      <a mat-list-item routerLink="./gfs-codes">Gfs Codes</a>
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./organisation-unit-levels"
        >Organisation Unit Levels</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./organisation-units"
        >Organisation Units</a
      >
    </mat-nav-list>
  </div>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>
