<form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
  <mat-card class="card">
    <mat-progress-spinner
      *ngIf="isSaveOrUpdateInProgress"
      diameter="50"
      class="form-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <mat-card-title>SubArea</mat-card-title>
    <mat-card-subtitle>{{
      subArea?.id ? 'Update an existing Sub-Area.' : 'Creates a new Sub-Area.'
    }}</mat-card-subtitle>
    <div class="error mat-error">
      {{ error ? error : '&nbsp;' }}
    </div>
    <mat-card-content class="content">
      <mat-form-field appearance="outline">
        <mat-label>Auditable Area</mat-label>
        <mat-select
          formControlName="areaId"
          required
          placeholder="Select auditable Area"
        >
          <mat-option *ngFor="let area of auditableAreas" [value]="area.id">{{
            area.name
          }}</mat-option>
        </mat-select>
        <mat-error
          ><hip-ngx-error
            [control]="form.get('areaId')"
            label="Auditable Area"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter Sub-Area name"
          formControlName="name"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('name')"
            label="Name"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="form.invalid || isSaveOrUpdateInProgress"
        type="submit"
      >
        <mat-icon>save</mat-icon>
        <span>{{ subArea?.id ? 'Update' : 'Save' }} </span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
