<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="inner_page__heading">
        <span class="inner_page__title">List of Finding Categories</span>
      </div>
      <div class="inner_page__body">
        <mat-card *ngIf="getData() | async as data">
          <mat-card-content>
            <mat-progress-spinner
              *ngIf="showProgress"
              diameter="50"
              class="table-overlay"
              color="accent"
              mode="indeterminate"
            >
            </mat-progress-spinner>
            <div *ngIf="!getData()">
              <span class="table-overlay">No records found</span>
            </div>
            <table mat-table [dataSource]="getData()" matSort>
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>Code</th>
                <td mat-cell *matCellDef="let element">{{ element.code }}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="formActions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-icon-button
                    color="accent"
                    [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{ id: element.id, element: element }"
                    aria-label="Category of Finding form actions "
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
              ></tr>
              <tr
                mat-row
                class="data-row"
                *matRowDef="let row; columns: displayedColumns"
              ></tr>
            </table>
            <mat-paginator
              [length]="totalItems"
              (page)="pageChanged($event)"
              [pageSizeOptions]="perPageOptions"
              [pageIndex]="page"
              showFirstLastButtons
              [pageSize]="size"
            ></mat-paginator>
          </mat-card-content>
        </mat-card>
        <mat-menu #menu="matMenu">
          <ng-template matMenuContent let-id="id" let-element="element">
            <button
              mat-menu-item
              aria-label="Edit Finding Category"
              [routerLink]="['/main/settings/finding-categories', id, 'edit']"
            >
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button
              mat-menu-item
              aria-label="Delete Finding Category"
              (click)="delete(id, element)"
            >
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </ng-template>
        </mat-menu>
      </div>
    </div>
  </div>
</div>

<button mat-fab color="accent" (click)="create()">
  <mat-icon>add</mat-icon>
</button>
