<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="secondary-menu" fxLayout="column">
        <div class="ou-tree">
          <tree-root
            [nodes]="nodes | async"
            (activate)="onOuChange($event)"
            [options]="options"
          >
          </tree-root>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="inner_page__heading">
        <div class="inner_page__title">
          Findings | {{ selectedOrganisationUnit?.name }}
        </div>
      </div>
      <div class="inner_page__body">
        <mat-card class="" *ngIf="selectedOrganisationUnit">
          <mat-card-content>
            <mat-tab-group mat-stretch-tabs animationDuration="0ms">
              <mat-tab label="CAG">
                <ng-template matTabContent>
                  <app-finding-list
                    [source]="'CAG'"
                    [organisationUnit]="selectedOrganisationUnit"
                  ></app-finding-list>
                </ng-template>
              </mat-tab>
              <mat-tab label="PPRA">
                <ng-template matTabContent>
                  <app-finding-list
                    [source]="'PPRA'"
                    [organisationUnit]="selectedOrganisationUnit"
                  ></app-finding-list>
                </ng-template>
              </mat-tab>
              <mat-tab label="LAAC">
                <ng-template matTabContent>
                  <app-finding-list
                    [source]="'LAAC'"
                    [organisationUnit]="selectedOrganisationUnit"
                  ></app-finding-list>
                </ng-template>
              </mat-tab>
              <mat-tab label="INSPECTION">
                <ng-template matTabContent>
                  <app-finding-list
                    [source]="'INSPECTION'"
                    [organisationUnit]="selectedOrganisationUnit"
                  >
                  </app-finding-list>
                </ng-template>
              </mat-tab>
              <mat-tab label="IA">
                <ng-template matTabContent>
                  <app-finding-list
                    [source]="'IA'"
                    [organisationUnit]="selectedOrganisationUnit"
                  ></app-finding-list>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
