<form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
  <mat-card class="card">
    <mat-progress-spinner
      *ngIf="isSaveOrUpdateInProgress"
      diameter="50"
      class="form-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <mat-card-title>Inspection Activities</mat-card-title>
    <mat-card-subtitle>{{
      inspectionActivities?.id
        ? 'Update an existing inspectionActivities.'
        : 'Creates a new inspectionActivities.'
    }}</mat-card-subtitle>
    <div class="error mat-error">
      {{ error ? error : '&nbsp;' }}
    </div>
    <mat-card-content class="content">
      <mat-form-field class="full-width">
        <mat-label>Objective</mat-label>
        <mat-select formControlName="objectiveId" required>
          <mat-option>--Select--</mat-option>
          <mat-option
            *ngFor="let objective of objectives"
            [value]="objective.id"
            >{{ objective.description }}</mat-option
          >
        </mat-select>
        <mat-error
          ><hip-ngx-error
            [control]="form.get('objectiveId')"
            label="Objective"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Objective</mat-label>
        <input
          matInput
          placeholder="Enter inspectionActivities objective"
          formControlName="objectiveName"
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('objectiveName')"
            label="Objective"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Auditable Area</mat-label>
        <mat-select formControlName="auditableAreaId" required>
          <mat-option>--Select--</mat-option>
          <mat-option
            *ngFor="let auditableArea of auditableAreas"
            [value]="auditableArea.id"
            >{{ auditableArea.name }}</mat-option
          >
        </mat-select>
        <mat-error
          ><hip-ngx-error
            [control]="form.get('auditableAreaId')"
            label="Auditable Area"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Auditable Area</mat-label>
        <input
          matInput
          placeholder="Enter inspection Activities auditable area"
          formControlName="auditableAreaName"
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('auditableAreaName')"
            label="Auditable Area"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Sub Area</mat-label>
        <mat-select formControlName="subAreaId" required>
          <mat-option>--Select--</mat-option>
          <mat-option *ngFor="let subArea of subAreas" [value]="subArea.id">{{
            subArea.name
          }}</mat-option>
        </mat-select>
        <mat-error
          ><hip-ngx-error
            [control]="form.get('subAreaId')"
            label="Sub Area"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Sub Area</mat-label>
        <input
          matInput
          placeholder="Enter inspectionActivities sub area"
          formControlName="subAreaName"
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('subAreaName')"
            label="Sub Area"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Activity</mat-label>
        <input
          matInput
          placeholder="Enter inspectionActivities activity"
          formControlName="activity"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('activity')"
            label="Activity"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Quarter 1</mat-label>
        <input
          matInput
          placeholder="Enter inspectionActivities quarter 1"
          formControlName="quarter1"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('quarter1')"
            label="Quarter 1"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Quarter 2</mat-label>
        <input
          matInput
          placeholder="Enter inspectionActivities quarter 2"
          formControlName="quarter2"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('quarter2')"
            label="Quarter 2"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Quarter 3</mat-label>
        <input
          matInput
          placeholder="Enter inspectionActivities quarter 3"
          formControlName="quarter3"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('quarter3')"
            label="Quarter 3"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Quarter 4</mat-label>
        <input
          matInput
          placeholder="Enter inspectionActivities quarter 4"
          formControlName="quarter4"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('quarter4')"
            label="Quarter 4"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="form.invalid || isSaveOrUpdateInProgress"
        type="submit"
      >
        <mat-icon>save</mat-icon>
        <span>{{ inspectionActivities?.id ? 'Update' : 'Save' }} </span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
