<div class="container">
  <app-header (toggleSidenav)="snav.toggle()"></app-header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="over" fixedInViewport="true" fixedTopGap="68">
      <app-sidenav (click)="snav.toggle()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="body">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
        <div class="footer">
          <span>
            <p style="text-align: center;">
              For any Technical inquiry, Please contact your ICT Support Team
            </p>
            <p style="text-align: center;">
              Copyright PORALG ©{{ year | date: 'yyyy' }}. All rights reserved.
            </p>
          </span>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
