<div fxLayout="row">
  <div class="secondary-menu" fxLayout="column">
    <mat-nav-list class="nav-links">
      <a mat-list-item class="module-title">Finding Management</a>
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./finding-sub-categories"
        >Finding Sub-Categories</a
      >
      <a
        mat-list-item
        class="nav-links__item"
        routerLinkActive="nav-links__item--active"
        routerLink="./finding-categories"
        >Finding Categories</a
      >
    </mat-nav-list>
  </div>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>
