<div fxLayout="row">
  <div class="ou-tree">
    <tree-root
      [(state)]="state"
      [nodes]="nodes | async"
      (activate)="onSubAreaSelected($event.node)"
      [options]="treeOptions"
    >
    </tree-root>
  </div>
  <div fxFlex fxLayout="column" style="margin: 10px;">
    <div class="page-heading">
      <span class="mat-card-title">Inspection Indicators</span>
      <button
        *ngIf="selectedSubArea?.isSubArea"
        (click)="addIndicator(undefined)"
        mat-raised-button
        color="primary"
      >
        <mat-icon>add</mat-icon>
        <span>Add Indicator</span>
      </button>
    </div>
    <div fxFlex style="margin-top: 10px;">
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let i of getInspectionIndicators() | async"
          [expanded]="i === openedId"
          (opened)="openedId = i.id"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>{{ i.name }}</span>
            </mat-panel-title>
            <button
              mat-icon-button
              (click)="delete(i.id, i); $event.stopPropagation()"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="addIndicator(i); $event.stopPropagation()"
            >
              <mat-icon color="primary">edit</mat-icon>
            </button>
          </mat-expansion-panel-header>
          <div>
            <table
              mat-table
              [dataSource]="i.inspectionProcedures"
              matSort
              *ngIf="!!i.inspectionProcedures?.length"
            >
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Procedure</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="formActions">
                <th mat-header-cell *matHeaderCellDef>
                  <button
                    mat-icon-button
                    color="primary"
                    (click)="
                      $event.stopPropagation(); addProcedure(i, undefined)
                    "
                  >
                    <mat-icon color="primary">add_circle</mat-icon>
                  </button>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div fxLayout="row">
                    <button
                      mat-icon-button
                      (click)="deleteProcedure(element.id, element)"
                    >
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                    <button mat-icon-button (click)="addProcedure(i, element)">
                      <mat-icon color="primary">edit</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
              ></tr>
              <tr
                mat-row
                class="data-row"
                *matRowDef="let row; columns: displayedColumns"
              ></tr>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
