<div class="notfound__page">
  <div class="notfound__title">
    <h1 class="mb-3" color="accent">404</h1>
    <small class="mt-2">Not Found</small>
    <p class="mt-3 mb-3">
      The site configured at this address does not contain the requested file.
    </p>
    <p class="text-center">
      If this is your site, make sure that the filename case matches the URL.
      For root URLs (like http://example.com/) you must provide an index.html
      file.
    </p>
  </div>
  <div class="notfound__message">
    <button mat-flat-button class="px-4 py-2 btn btn-">
      <mat-icon>arrow_back</mat-icon> Go Back
    </button>
  </div>
</div>
