<form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
  <mat-dialog-content>
    <h2 mat-dialog-title>Inspection Budget</h2>
    <mat-progress-spinner
      *ngIf="isSaveOrUpdateInProgress"
      diameter="50"
      class="form-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <div class="error mat-error">
      {{ error ? error : '&nbsp;' }}
    </div>
    <div class="content">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Gfs Code</mat-label>
        <mat-select formControlName="gfsCodeId" required>
          <mat-option
            *ngFor="let gfs of getGfsCode() | async"
            [value]="gfs.id"
            >{{ gfs.description }}</mat-option
          >
        </mat-select>
        <mat-error
          ><hip-ngx-error
            [control]="form.get('gfsCodeId')"
            label="Gfs Code"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <div fxLayout="row">
        <mat-form-field class="full-width">
          <mat-label>Unit Price</mat-label>
          <input
            #unitPrice
            matInput
            type="number"
            placeholder="Enter inspectionBudget frequency"
            formControlName="unitPrice"
            required
          />
          <mat-error
            ><hip-ngx-error
              [control]="form.get('unitPrice')"
              label="Unit Price"
            ></hip-ngx-error
          ></mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Quantity</mat-label>
          <input
            #quantity
            type="number"
            matInput
            placeholder="Enter inspectionBudget quantity"
            formControlName="quantity"
            required
          />
          <mat-error
            ><hip-ngx-error
              [control]="form.get('quantity')"
              label="Quantity"
            ></hip-ngx-error
          ></mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Frequency</mat-label>
          <input
            matInput
            #frequency
            type="number"
            placeholder="Enter inspectionBudget frequency"
            formControlName="frequency"
            required
          />
          <mat-error
            ><hip-ngx-error
              [control]="form.get('frequency')"
              label="Frequency"
            ></hip-ngx-error
          ></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Frequency</mat-label>
          <input
            matInput
            disabled
            [value]="
              (unitPrice.value || 0) *
              (quantity.value || 0) *
              (frequency.value || 0)
            "
            type="number"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button color="warn" mat-button (click)="cancel()">
      <span>Cancel</span>
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid || isSaveOrUpdateInProgress"
      type="submit"
    >
      <span>{{ inspectionBudget?.id ? 'Update' : 'Save' }} </span>
    </button>
  </mat-dialog-actions>
</form>
