<form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
  <mat-card class="card">
    <mat-progress-spinner
      *ngIf="isSaveOrUpdateInProgress"
      diameter="50"
      class="form-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <mat-card-title>FinancialYear</mat-card-title>
    <mat-card-subtitle
      >{{
        financialYear?.id
          ? 'Update an existing financialYear.'
          : 'Creates a new financialYear.'
      }}
    </mat-card-subtitle>
    <div class="error mat-error">
      {{ error ? error : '&nbsp;' }}
    </div>
    <mat-card-content class="content">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter financialYear name"
          formControlName="name"
          required
        />
        <mat-error>
          <hip-ngx-error
            [control]="form.get('name')"
            label="Name"
          ></hip-ngx-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Start Date</mat-label>
        <input
          type="text"
          required
          matInput
          placeholder="Select financialYear start date"
          (click)="startDatePicker.open()"
          formControlName="startDate"
          [matDatepicker]="startDatePicker"
        />
        <mat-datepicker-toggle
          matSuffix
          color="accent"
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker color="accent" #startDatePicker></mat-datepicker>
        <mat-error>
          <hip-ngx-error
            [control]="form.get('startDate')"
            label="Start Date"
          ></hip-ngx-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>End Date</mat-label>
        <input
          type="text"
          required
          matInput
          placeholder="Enter financialYear end date"
          (click)="endDatePicker.open()"
          formControlName="endDate"
          [matDatepicker]="endDatePicker"
        />
        <mat-datepicker-toggle
          ng-model-options="{ timezone: 'utc' }"
          matSuffix
          color="accent"
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker
          ng-model="date"
          ng-model-options="{ timezone: 'utc' }"
          color="accent"
          #endDatePicker
        ></mat-datepicker>
        <mat-error>
          <hip-ngx-error
            [control]="form.get('endDate')"
            label="End Date"
          ></hip-ngx-error>
        </mat-error>
      </mat-form-field>

      <ng-container>
        <mat-slide-toggle color="accent" formControlName="isOpened">
          <mat-label>Is Opened</mat-label>
        </mat-slide-toggle>
        <mat-error>
          <hip-ngx-error
            [control]="form.get('isOpened')"
            label="Is Opened"
          ></hip-ngx-error>
        </mat-error>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="form.invalid || isSaveOrUpdateInProgress"
        type="submit"
      >
        <mat-icon>save</mat-icon>
        <span>{{ financialYear?.id ? 'Update' : 'Save' }} </span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
