<div *ngIf="getMembers() | async as data">
  <div class="page-heading">
    <span class="mat-card-title"></span>
    <div>
      <button
        [disabled]="stage.isApproved!"
        mat-raised-button
        color="primary"
        (click)="createOrEdit(undefined)"
      >
        <mat-icon>add</mat-icon>
        <span>Add</span>
      </button>
    </div>
  </div>
  <mat-card-content class="table-container">
    <mat-progress-spinner
      *ngIf="showLoader"
      diameter="50"
      class="table-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <div *ngIf="!data?.length">
      <span class="table-overlay">No members found</span>
    </div>
    <table mat-table [dataSource]="data" matSort *ngIf="!!data?.length">
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Inspection Role</th>
        <td mat-cell *matCellDef="let element">{{ element.role }}</td>
      </ng-container>

      <ng-container matColumnDef="userFullName">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let element">{{ element.userFullName }}</td>
      </ng-container>

      <ng-container matColumnDef="letterAttachmentPath">
        <th mat-header-cell *matHeaderCellDef>Letter</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.letterAttachmentId">
            <a
              target="_blanck"
              [href]="
                'http://localhost:8080/api/file-resources/download' +
                element.contentId
              "
            >
              <mat-icon>attachment.ts</mat-icon>
            </a>
          </span>
          <span *ngIf="!element.letterAttachmentId">
            <button mat-icon-button><mat-icon>email</mat-icon></button>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="declarationAttachmentName">
        <th mat-header-cell *matHeaderCellDef>Declaration</th>
        <td mat-cell *matCellDef="let element">
          {{ element.declarationAttachmentName }}
          <span *ngIf="element.declarationAttachementId">
            <button mat-icon-button><mat-icon>attachment.ts</mat-icon></button>
          </span>
          <span *ngIf="!element.declarationAttachementId">
            <button mat-icon-button><mat-icon>email</mat-icon></button>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="formActions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            [matMenuTriggerData]="{ id: element.id, element: element }"
            aria-label="InspectionMember form actions "
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        class="data-row"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </mat-card-content>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="id" let-element="element">
    <button
      mat-menu-item
      [disabled]="stage.isApproved!"
      aria-label="Edit inspectionMember"
      (click)="createOrEdit(element)"
    >
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button
      mat-menu-item
      [disabled]="stage.isApproved!"
      aria-label="Delete inspectionMember"
      (click)="delete(id, element)"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
