<form [formGroup]="form" novalidate (ngSubmit)="save()">
  <h2 mat-dialog-title>
    Password Reset | User: {{ user.firstName }} {{ user.lastName }}
  </h2>
  <mat-dialog-content>
    <div class="content">
      <mat-progress-spinner
        *ngIf="isSaveOrUpdateInProgress"
        diameter="50"
        class="form-overlay"
        color="accent"
        mode="indeterminate"
      ></mat-progress-spinner>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          autocomplete="off"
          matInput
          autocomplete="off"
          placeholder="Password"
          formControlName="password"
          required
          type="password"
        />
        <mat-error>
          <hip-ngx-error
            [control]="form.get('password')"
            label="Password"
          ></hip-ngx-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Repeat Password</mat-label>
        <input
          autocomplete="off"
          autocomplete="off"
          matInput
          placeholder="Repeat Password"
          formControlName="passwordConfirmation"
          required
        />
        <mat-error>
          <hip-ngx-error
            [control]="form.get('passwordConfirmation')"
            label="Password Confirmation"
          ></hip-ngx-error>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>
      <mat-icon>cancel</mat-icon>
      <span>Close</span>
    </button>
    <button mat-raised-button color="accent">
      <mat-icon>save</mat-icon>
      <span>Reset Password</span>
    </button>
  </mat-dialog-actions>
</form>
