<form (ngSubmit)="saveOrUpdate()" [formGroup]="form">
  <mat-dialog-content>
    <h2 mat-dialog-title>Upload Briefying Minutes</h2>
    <mat-progress-spinner
      *ngIf="isSaveOrUpdateInProgress"
      class="form-overlay"
      color="accent"
      diameter="50"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <div class="error mat-error">
      {{ error ? error : '&nbsp;' }}
    </div>

    <div class="row">
      <div class="col-sm-8 text-center">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="customFile"
            name="myfile"
            (change)="onFileSelect($event)"
            #UploadFileInput
          />
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
    </button>
    <button color="accent" mat-raised-button type="submit">
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>
  </mat-dialog-actions>
</form>
