<form [formGroup]="form" novalidate (ngSubmit)="saveOrUpdate()">
  <mat-card class="card">
    <mat-progress-spinner
      *ngIf="isSaveOrUpdateInProgress"
      diameter="50"
      class="form-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <mat-card-title>RiskRank</mat-card-title>
    <mat-card-subtitle>{{
      riskRank?.id ? 'Update an existing riskRank.' : 'Creates a new riskRank.'
    }}</mat-card-subtitle>
    <div class="error mat-error">
      {{ error ? error : '&nbsp;' }}
    </div>
    <mat-card-content class="content">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          autocomplete="off"
          matInput
          placeholder="Enter riskRank name"
          formControlName="name"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('name')"
            label="Name"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Minimum Value</mat-label>
        <input
          autocomplete="off"
          matInput
          placeholder="Enter Minimum Value"
          formControlName="minValue"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('minValue')"
            label="Minimum Value"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Maximum Value</mat-label>
        <input
          autocomplete="off"
          matInput
          placeholder="Enter Minimum Value"
          formControlName="maxValue"
          required
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('maxValue')"
            label="Maximum Value"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hex Color</mat-label>
        <input
          autocomplete="off"
          matInput
          placeholder="Enter riskRank hex color"
          formControlName="hexColor"
        />
        <mat-error
          ><hip-ngx-error
            [control]="form.get('hexColor')"
            label="Hex Color"
          ></hip-ngx-error
        ></mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="form.invalid || isSaveOrUpdateInProgress"
        type="submit"
      >
        <mat-icon>save</mat-icon>
        <span>{{ riskRank?.id ? 'Update' : 'Save' }} </span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
