<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Meeting Information
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form *ngIf="form" [formGroup]="form" novalidate (ngSubmit)="update()">
      <div>
        <mat-form-field class="full-width">
          <mat-label>Date</mat-label>
          <input
            autocomplete="off"
            type="text"
            required
            matInput
            placeholder="Select inspection start date"
            [matDatepicker]="date"
            formControlName="meetingDate"
          />
          <mat-datepicker-toggle
            matSuffix
            color="accent"
            [for]="date"
          ></mat-datepicker-toggle>
          <mat-datepicker color="accent" #date></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Venue</mat-label>
          <input matInput formControlName="venue" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Introduction</mat-label>
          <textarea matInput formControlName="introduction"> </textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Inspection Overview</mat-label>
          <textarea matInput formControlName="inspectionOverview"> </textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Inspection Program Review</mat-label>
          <textarea matInput formControlName="inspectionProgramReview">
          </textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Conclusion</mat-label>
          <textarea matInput formControlName="conclusion"> </textarea>
        </mat-form-field>
      </div>
      <mat-action-row>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="update()"
          value="Update"
        >
          Save
        </button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Timeline
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="teamMeetingId">
      <app-team-meeting-timeline-list
        [teamMeetingId]="teamMeetingId"
      ></app-team-meeting-timeline-list>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Budget Review
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <app-inspection-budget-list
        [inspectionId]="inspectionId"
      ></app-inspection-budget-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>
