@import './assets/fonts/fonts.css';
@import '~@angular/material/theming';
@include mat-core();

$fonts: mat-typography-config(
  $font-family: '"Sailec"',
);

@include mat-core($fonts);

$ift-mis: (
  50: #ffffff,
  100: #d6e4ff,
  200: #adc8ff,
  300: #84a9ff,
  400: #6690ff,
  500: #3366ff,
  600: #254edb,
  700: #1939b7,
  800: #102693,
  900: #091a7a,
  A100: #ffffff,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #38649d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);

$iftmis-primary: mat-palette($ift-mis, 500);
$iftmis-accent: mat-palette($mat-pink, A400);

$iftmis-warn: mat-palette($mat-deep-orange);

$iftmis-theme: mat-light-theme(
  (
    color: (
      primary: $iftmis-primary,
      accent: $iftmis-accent,
      warn: $iftmis-warn,
    ),
  )
);

@include angular-material-theme($iftmis-theme);
