/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import './scss/variables';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
mat-icon.mat-icon {
  font-size: 1.2rem;
  margin-top: 6px;
}
mat-icon.mat-icon + span {
  padding-left: 0.2rem;
}
.primary-menu mat-icon.mat-icon,
.primary-menu mat-icon.mat-icon + span {
  color: #787878;
}

@include mat-core();
$theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);
@include angular-material-theme($theme);

.content mat-card {
  margin: 16px;
}
mat-form-field {
  width: 100%;
}
