@import '~angular-tree-component/dist/angular-tree-component.css';
// @import './assets/css/toast.scss';
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: 'Sailec', Roboto, system-ui, sans-serif;
  font-size: 95.25%;
  font-weight: normal;
}

.primary-menu mat-icon.mat-icon,
.primary-menu mat-icon.mat-icon + span {
  color: #787878;
}

mat-form-field {
  width: 100%;
}

.secondary-menu {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin-top: 1.25em;
  min-width: fit-content;

  a.module-title {
    color: #1976d2;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    border-left: 4px solid #0abde3;
    min-height: 30px;
    position: relative;
    text-decoration: none;
  }

  .mat-list-item {
    font-size: 15px;
    padding-left: 48px;
    border-radius: 0 48px 48px 0;
  }

  div {
    a {
      align-items: center;
      color: rgb(95, 99, 104);
      display: flex;
      font-weight: 500;
      margin-inline-end: 2px;
      margin-inline-start: 1px;
      min-height: 20px;
      padding-bottom: 10px;
      padding-inline-start: 23px;
      padding-top: 10px;
      text-decoration: none;
      border-left: 6px solid #54a0ff;
    }

    mat-icon {
      --iron-icon-fill-color: var(--settings-nav-icon-color);
      margin-inline-end: 24px;
      pointer-events: none;
      vertical-align: top;
    }
  }
}

.iftmis__title {
  font-family: 'Sailec';
  font-weight: 800 !important;
  span {
    font-weight: 900 !important;
  }
}
span.title {
  color: #5f6368;
  font-size: 14px;
  font-weight: 800;
  margin-right: 4px;
}

div.ou-tree {
  width: 170px;
  margin: 0;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
  min-height: 500px;
}

.mat-card-title {
  font-size: 120%;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: rgb(95, 99, 104);
}

.mat-expansion-panel-header {
  font-size: 13px;
}

.page-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 16px;
}

.table-container {
  overflow: auto;
  position: relative;
  min-height: 200px;
  max-height: 565px;
  margin: 0 -16px;
}

.table-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
}

.btn-margin-right {
  margin-right: 14px;
}

table {
  width: 100%;
}

td.mat-column-formActions {
  width: 20px;
  padding-right: 8px !important;
}

tr.data-row:hover {
  background: rgba(0, 0, 0, 0.1);
}

.custom-ou-tree {
  width: 170px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.mat-tab-body {
  padding: 16px;
}

.mat-expansion-panel-header-title {
  vertical-align: middle;
  line-height: 2.4;
}

button:active,
button:focus,
button:hover,
.button:active,
.button:focus,
.button:hover {
  border: none !important;
  outline: none !important;
}

.xng-breadcrumb-root {
  font-family: 'Sailec';
  font-weight: 500;
  padding: 2px 2px 2px 16px;
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
  font-size: 15px;
  text-transform: capitalize;
}

.xng-breadcrumb-link {
  margin: 0;
  padding: 0px;
  margin-top: 2px;
  text-transform: capitalize;
}

.xng-breadcrumb-separator {
  padding: 0 0px;
}
.xng-breadcrumb-trail {
  margin: 0;
  padding: 0px;
  margin-top: 2px;
  text-transform: capitalize;
}

.mat-dialog-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.mat-dialog-box {
  mat-card {
    box-shadow: none !important;
  }
  .mat-dialog-header {
    background-color: #54a0ff !important;
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;

    .modal-icon {
      margin-top: 6px;
      color: #fff;
    }

    .header-title {
      h2 {
        display: inline;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
      }
    }

    .close-button {
      mat-icon {
        color: #fff;
      }

      background-color: rgba(0, 0, 0, 0.013);
      border-radius: 50%;
    }
  }

  mat-dialog-container {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    border-radius: 0 !important;
  }

  mat-dialog-content {
    padding: 0rem 3rem !important;
  }

  mat-dialog-title {
    background: #54a0ff !important;
    width: 100% !important;
  }

  mat-dialog-actions {
    padding: 0.7rem 1rem !important;
    background-color: rgba(184, 184, 184, 0.096) !important;
  }
}
// fab styling
.mat-fab {
  top: auto;
  right: 40px;
  bottom: 50px;
  left: auto;
  transform: scale(1);
  position: fixed !important;
  z-index: 20;
  line-height: 56px;
  min-width: 0;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
}

.inner_page__heading {
  padding: 0.3rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .inner_page__title {
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba($color: #000000, $alpha: 0.4);
  }
}

.inner_page__body {
  padding: 1rem 0px;
}
