/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import './scss/variables';
@import '~angular-tree-component/dist/angular-tree-component.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  //font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-family: Roboto, system-ui, sans-serif;
  font-size: 81.25%;
}
mat-icon.mat-icon {
  font-size: 1.2rem;
  margin-top: 6px;
}
mat-icon.mat-icon + span {
  padding-left: 0.2rem;
}
.primary-menu mat-icon.mat-icon,
.primary-menu mat-icon.mat-icon + span {
  color: #787878;
}

@include mat-core();
$theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);
@include angular-material-theme($theme);

.content mat-card {
  margin: 16px;
}
mat-form-field {
  width: 100%;
}
.secondary-menu {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin-top: 1.25em;
  min-width: fit-content;

  a.module-title {
    color: rgb(53, 101, 214);
    padding-inline-start: 23px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    margin: 0 4px;
    min-height: 40px;
    position: relative;
    text-decoration: none;
  }

  div {
    a {
      align-items: center;
      color: rgb(95, 99, 104);
      display: flex;
      font-weight: 500;
      margin-inline-end: 2px;
      margin-inline-start: 1px;
      min-height: 20px;
      padding-bottom: 10px;
      padding-inline-start: 23px;
      padding-top: 10px;
      text-decoration: none;
    }

    mat-icon {
      --iron-icon-fill-color: var(--settings-nav-icon-color);
      margin-inline-end: 24px;
      pointer-events: none;
      vertical-align: top;
    }
  }
}

.mat-card-title {
  font-size: 108%;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: rgb(95, 99, 104);
}
