<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Inspection Areas">
    <div fxLayout="row">
      <div fxFlex fxLayout="column">
        <div>Available Auditable Areas</div>
        <select
          [disabled]="stage?.isApproved!"
          (dblclick)="saveAll(selectedAreas)"
          multiple
          class="full-width mult-select"
          [(ngModel)]="selectedAreas"
        >
          <option *ngFor="let a of getAuditableAreas() | async" [value]="a">
            {{ a.name }}
          </option>
        </select>
      </div>
      <div
        style="width: 200px; padding: 0 10px;"
        fxLayout="column"
        fxFlexAlign="space-around center"
      >
        <button
          (click)="saveAll(selectedAreas)"
          [disabled]="selectedAreas.length === 0"
          mat-raised-button
        ></button>
        <button
          (click)="removeAll(selectedInspectionAreas)"
          [disabled]="selectedInspectionAreas.length === 0"
          mat-raised-button
        ></button>
      </div>
      <div fxFlex fxLayout="column">
        <div>Selected Auditable Areas</div>
        <select
          [disabled]="stage?.isApproved!"
          (dblclick)="removeAll(selectedInspectionAreas)"
          multiple
          class="full-width mult-select"
          [(ngModel)]="selectedInspectionAreas"
        >
          <option *ngFor="let ia of getInspectionAreas() | async" [value]="ia">
            {{ ia.name }}
          </option>
        </select>
      </div>
    </div>
  </mat-tab>
  <mat-tab
    label="Inspection Sub Areas"
    [disabled]="(getInspectionAreas() | async)?.length === 0"
  >
    <ng-template matTabContent>
      <app-inspection-sub-area-list
        [stage]="stage"
        [inspectionId]="inspectionId"
      ></app-inspection-sub-area-list>
    </ng-template>
  </mat-tab>
  <mat-tab
    label="Team Members"
    [disabled]="(getInspectionAreas() | async)?.length === 0"
  >
    <ng-template matTabContent>
      <app-inspection-member-list
        [inspectionId]="inspectionId"
        [stage]="stage"
      ></app-inspection-member-list>
    </ng-template>
  </mat-tab>

  <mat-tab label="Team Meeting">
    <ng-template matTabContent>
      <app-team-meeting [inspectionId]="inspectionId"></app-team-meeting>
    </ng-template>
  </mat-tab>
  <mat-tab label="Client Communication">
    <ng-template matTabContent>
      <app-client-letter
        [stage]="stage"
        [inspectionId]="inspectionId"
      ></app-client-letter>
    </ng-template>
  </mat-tab>

  <mat-tab [label]="stage?.isApproved ? 'Approved' : 'Approve'">
    <app-approve
      (stageChange)="stageChange($event)"
      [stage]="stage"
    ></app-approve>
  </mat-tab>
</mat-tab-group>
