<div class="mat-dialog-header d-flex flex-row justify-content-between">
  <div></div>
  <div class="header-title align-self-center">
    <h2 mat-dialog-title>{{ title }}</h2>
  </div>
  <div class="close-button align-self-center">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-progress-bar
  *ngIf="showProgress"
  color="primary"
  mode="indeterminate"
></mat-progress-bar>
<mat-dialog-content>
  <form [formGroup]="form" novalidate autocomplete="off">
    <mat-card>
      <mat-card-content class="p-3">
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input
            autocomplete="off"
            matInput
            placeholder="Enter full name"
            formControlName="name"
            required
          />
          <mat-error>
            <hip-ngx-error
              [control]="form.get('name')"
              label="Full Name"
            ></hip-ngx-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input
            autocomplete="off"
            matInput
            placeholder="Enter phone number"
            formControlName="phoneNumber"
            required
          />
          <mat-error>
            <hip-ngx-error
              [control]="form.get('phoneNumber')"
              label="Phone Number"
            ></hip-ngx-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            autocomplete="off"
            matInput
            placeholder="Enter Email"
            formControlName="email"
            required
          />
          <mat-error>
            <hip-ngx-error
              [control]="form.get('email')"
              label="Email"
            ></hip-ngx-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            autocomplete="off"
            matInput
            placeholder="Enter Title"
            formControlName="title"
            required
          />
          <mat-error>
            <hip-ngx-error
              [control]="form.get('title')"
              label="Title"
            ></hip-ngx-error>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid || showProgress"
    (click)="saveOrUpdate()"
  >
    <mat-icon>save</mat-icon>
    <span>{{ label }} </span>
  </button>
</mat-dialog-actions>
