<div class="mat-dialog-header d-flex flex-row justify-content-between">
  <div></div>
  <div class="header-title align-self-center">
    <h2 mat-dialog-title>{{ title }}</h2>
  </div>
  <div class="close-button align-self-center">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-progress-bar
  *ngIf="showProgress"
  color="primary"
  mode="indeterminate"
></mat-progress-bar>
<mat-dialog-content>
  <form [formGroup]="form" novalidate autocomplete="off">
    <mat-card>
      <mat-card-content class="p-3">
        <mat-form-field appearance="outline">
          <mat-label>Sub Area</mat-label>
          <mat-select formControlName="subAreaId" required>
            <mat-option>--Select--</mat-option>
            <mat-option
              *ngFor="let sub of getSubAreas() | async"
              [value]="sub.id"
              >{{ sub.name }}</mat-option
            >
          </mat-select>
          <mat-error>
            <hip-ngx-error
              [control]="form.get('subAreaId')"
              label="Sub Area"
            ></hip-ngx-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            autocomplete="off"
            matInput
            placeholder="Enter indicator name"
            formControlName="name"
            required
          />
          <mat-error>
            <hip-ngx-error
              [control]="form.get('name')"
              label="Name"
            ></hip-ngx-error>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid || showProgress"
    (click)="saveOrUpdate()"
  >
    <mat-icon>save</mat-icon>
    <span>{{ label }} </span>
  </button>
</mat-dialog-actions>
