<mat-card *ngIf="routeData$ | async as data">
  <div class="page-heading">
    <span class="mat-card-title">Risk Ranks</span>
    <div>
      <button
        mat-raised-button
        color="accent"
        [routerLink]="['/settings/risk-ranks', 'new']"
      >
        <mat-icon>add</mat-icon>
        <span>Create</span>
      </button>
    </div>
  </div>
  <mat-card-content class="table-container">
    <mat-progress-spinner
      *ngIf="showLoader"
      diameter="50"
      class="table-overlay"
      color="accent"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <div *ngIf="!data.riskRanks?.length">
      <span class="table-overlay">No records found</span>
    </div>
    <table
      mat-table
      [dataSource]="data.riskRanks"
      matSort
      *ngIf="!!data.riskRanks?.length"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="minValue">
        <th mat-header-cell *matHeaderCellDef>Minimum Value</th>
        <td mat-cell *matCellDef="let element">{{ element.minValue }}</td>
      </ng-container>

      <ng-container matColumnDef="maxValue">
        <th mat-header-cell *matHeaderCellDef>Maximum Value</th>
        <td mat-cell *matCellDef="let element">{{ element.maxValue }}</td>
      </ng-container>

      <ng-container matColumnDef="hexColor">
        <th mat-header-cell *matHeaderCellDef>Hex Color</th>
        <td mat-cell *matCellDef="let element">{{ element.hexColor }}</td>
      </ng-container>

      <ng-container matColumnDef="formActions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="accent"
            [matMenuTriggerFor]="menu"
            [matMenuTriggerData]="{ id: element.id, element: element }"
            aria-label="RiskRank form actions "
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        class="data-row"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="id" let-element="element">
    <button
      mat-menu-item
      aria-label="Edit riskRank"
      [routerLink]="['/settings/risk-ranks', id, 'edit']"
    >
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button
      mat-menu-item
      aria-label="Delete riskRank"
      (click)="delete(id, element)"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
